.modal {
  display: none;
}

.template {
  display: none;
}

.tile {
  cursor: pointer;
}

#container {
  position: relative;
}

.content-container {
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.5s;
  position: absolute;
  left: 0px;
  top: 0px;
}

.forefront {
  -webkit-opacity: 1.0;
  -webkit-transform: none;
}

.background {
  -webkit-opacity: 0.0;
  -webkit-transform: scale(0.01, 0.01);
}

.text {
  margin-left: 10px;
  float: left;
}

.content {
  min-height: 100px;
}

#item-details img {
  float: left;
}

#item-comments div.body {
  margin-left: 10px;
  float: left;
}

#item-comments img {
  float: left;
}
#item-newcomment textarea {
  clear: both;
}
#item-newcomment input {
 clear: both;  
}


div.break {
  clear: both;
  float: none;
}
